body {
    background-color: black;
}
header {
    border: 2px solid white;
    padding: 10px;
    margin: 1%;
    text-align: center;
    color: white;
}
h1 {
    margin-top: 0;
    margin-bottom: 50px;
}
header h3 {
    text-align: center;
    margin-top: 50px;
}

#social-media-icons {
    margin-bottom: 50px;
}
nav {
    margin-top: 50px;
}
.icon {
    margin: 50px;
}
.links{
    padding: 100px;
    color: white;
    font-size: larger;
    display: inline;
}
#about-link {
    margin: 100px;
    max-width: max-content;
    max-height: max-content;
    
    
}
#contact {
    margin: 100px;
    max-width: max-content;
    max-height: max-content;
}


nav a span {
    pointer-events: none;
}

.about {
    border: 1px solid black;
    height:fit-content;
    text-wrap: wrap;
    width: 95%;
    color: white;
    padding: 1%;
    margin: 1%;
    text-align: center;
    background-image:url('/images/background-image.avif');
    display: grid;
}
#about {
    align-items: center;
   
}
#divider {
    display: flex;
    width: 100%;
    margin: 6px;
    background: white;

}
footer {
    width: 100;
}
footer h3{
    padding: 40px;

}
/* media queries */
@media screen and (max-width: 992px) {
   .main {
    display:flex;
    flex-wrap:wrap;
   }
   #about {
    position:fixed;
   }
}
@media screen and (max-width: 768px) {
.main {
    display:flex;
    flex-wrap:wrap;
   }
   #about {
    position:fixed;
   }
}
@media screen and (max-width: 480px) {
    .main {
        display:flex;
        flex-wrap:wrap;
       }
       #about {
        position:fixed;
       }
}


